<!-- menu navigation -->
<script>



    function navLoad() {
        navSubOpts(1)
        navOpts(1)
    }

   
    function navOpts(opt) {

        opt --; 
        var i;

        // get all menu-div (form display toggles) and menu-button class sets
        var activeDiv = document.getElementsByClassName("menu-div");
        var activeMenuButton = document.getElementsByClassName("menu-button");

        // iterate, turn divs on if = option, else turn off; 
        // set active menu button background too
        for (i = 0; i < activeDiv.length; i++) {
            if (i == opt) {    
                activeDiv[i].style.display = "block"; 
                activeMenuButton[i].style.background = "rgb(0, 9, 12)";
            } else {
                activeDiv[i].style.display  = "none"; 
                activeMenuButton[i].style.background = "";
            }
        }
    }

    function navSubOpts(opt) {

        opt--;
        var i;

        // get all submenu-div (submenu display toggles) and submenu class sets
        var activeSubDiv = document.getElementsByClassName("submenu-div");
        var activeSubButton = document.getElementsByClassName("submenu-button");        

        // iterate, set subOption menu button background
        for (i =0; i < activeSubDiv.length; i++) {
            if (i == opt) {
                activeSubDiv[i].style.display = "block"; 
                activeSubButton[i].style.background = "rgb(0, 9, 12)";
            } else {
                activeSubDiv[i].style.display  = "none"; 
                activeSubButton[i].style.background = "";
            }   
        }
    }



</script>
    
    <div class ="titlediv">
        <h2>AWS SNS/SQS Demo</h2><hr>

        <input class ="submenu-button" type="submit" value ="SNS" onclick="navSubOpts(1)">
        <input class ="submenu-button" type="submit" value="SQS" onclick="navSubOpts(2)">
        <hr>

        <div id="1" class="submenu-div" style="display:none">
            <input class ="menu-button" type="submit" value ="Create Topic" onclick="navOpts(1)">
            <input class ="menu-button" type="submit" value="Subscribe Queue" onclick="navOpts(2)">
            <input class ="menu-button" type="submit" value="Subscribe Email" onclick="navOpts(3)">
            <input class ="menu-button" type="submit" value="Send Message" onclick="navOpts(4)">
            <input class ="menu-button" type="submit" value="List Topics" onclick="navOpts(5)">
            <input class ="menu-button" type="submit" value="Delete Topics" onclick="navOpts(6)">
            <input class ="menu-button" type="submit" value="List Subscriptions" onclick="navOpts(7)">
            <input class ="menu-button" type="submit" value="Unsubscribe" onclick="navOpts(8)">
        </div>

        <div id="2" class="submenu-div" style="display:none">
            <input class ="menu-button" type="submit" value ="Create Queue" onclick="navOpts(9)">
            <input class ="menu-button" type="submit" value="List Queues" onclick="navOpts(10)">
            <input class ="menu-button" type="submit" value="Get Queue URL" onclick="navOpts(11)">
            <input class ="menu-button" type="submit" value="Get Attributes" onclick="navOpts(12)">
            <input class ="menu-button" type="submit" value="Post Message" onclick="navOpts(13)">
            <input class ="menu-button" type="submit" value="Get Message" onclick="navOpts(14)">
            <input class ="menu-button" type="submit" value="Delete Message" onclick="navOpts(15)">
            <input class ="menu-button" type="submit" value="Purge Queue" onclick="navOpts(16)">
            <input class ="menu-button" type="submit" value="Delete Queue" onclick="navOpts(17)">
            <input class ="menu-button" type="submit" value="Set Policy" onclick="navOpts(18)">
        </div>
    
    </div>
