<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
    <title>AWS SQS SNS Demo</title>
</head>

<body class="simple-style" onload="navLoad()">

<% include ./partials/menunav.ejs %>

<% include ./partials/sns.ejs %>
<% include ./partials/sqs.ejs %>






<br>
<br>
<br>

</body>
</html>
