<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
    <title>AWS SQS SNS Demo</title>
</head>

<body class="simple-style">

<!--
<body class="simple-style" ">
-->
<body class="simple-style" onLoad=displayOption(<%= ui.menuitem %>)>

<% include ./partials/menunav.ejs %>

<% include ./partials/sqs.ejs %>
<% include ./partials/sns.ejs %>


</body>
</html>
