<!-- 1. Create Topic -->
<div id="3" class="menu-div" style="display:none">
    <form method="POST" action="/sns" >
        <br><span>Create SNS Topic</span><hr>
    
        <label>Topic Name:</label>
        <input placeholder ="SNS Topic Name" id ="snstopic" type="text" name ="snstopic" size=100  required >
        <br><br><input type="submit" value="Create Topic">

    </form>
</div>
