<!-- 8. Delete Subscription -->
<div id="10" class="menu-div" style="display:none">
    <form method="POST" action="/sns/delete-subscription" >
        <br>
        <br><span>8. Delete SNS Subscription</span><hr>  
        <ul>
        <label>SNS Subscription ARN:</label>
        <input placeholder="SNS Subscription ARN" class="field-long" id ="snssubarn" type="text" name ="snssubarn"   required >
        <br><br><input type="submit" value="Delete Subscripiton">
        </ul>
    </form>
</div>
