<!-- 6. Create Topic -->
<div id="8" class="menu-div" style="display:none">
    <form method="POST" action="/sns/delete-topic" >
        <br>
        <br><span>6. Delete SNS Topic</span><hr>   
        <ul>
        <label>SNS Topic ARN:</label>
        <input placeholder="SNS Topic ARN" class="field-long" id ="snsarn" type="text" name ="snsarn"   required >
        <br><br><input  type="submit" value="Delete Topic">
        </ul>
    </form>
</div>
