<!-- 7. List Subscriptions -->
<div id="9" class="menu-div" style="display:none">
    <form method="GET" action="/sns/subscription" >
        <br>
        <br><span>7. List SNS Subscriptions</span><hr>
        <ul>
            <br><input  type="submit" value="List Subscriptions">
        </ul>
    </form>
</div>
