<!-- 4. Subscribe Queue -->
<div id="6" class="menu-div" style="display:none">
    <form method="POST" action="/sns/message" >
        <br>
        <br><span>4. Send Message to Topic</span><hr>
        <ul>
        <label>SNS Topic ARN:</label>
        <input placeholder ="SNS Topic ARN" class="field-long" id ="snstopicarn" type="text" name ="snstopicarn"  required >
        <br><br>
        <label>Message:</label>
        <input placeholder="Mesage" class="field-long" id ="snsmessage" type="text" name ="snsmessage"   required >
        <br><br><input type="submit" value="Send message to topic">
        </ul>
    </form>
</div>
