<!-- 3. Subscribe Queue -->
<div id="5" class="menu-div" style="display:none">
    <form method="POST" action="/sns/subscribe-email" >
        <br>
        <br><span>3. Subscribe email to SNS Topic</span><hr> 
        <ul>  
        <label>SNS Topic ARN:</label>
        <input placeholder="SNS Topic ARN" class="field-long" id ="snsarn" type="text" name ="snsarn"   required >
        <br><br>
        <label>Email Address:</label>
        <input placeholder="Email Address" class="field-long" id ="email" type="text" name ="email"  required >
        <br><br><input type="submit" value="Create Email Subscription">
        </ul>
    </form>
</div>
