.simple-style {
    margin :10px;
    background-color: rgb(235, 246, 253); 
    font-family : Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.simple-style td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.simple-style .titlediv {
    padding : 8px 16px ;
    background-color: rgb(31, 104, 122);

}

.simple-style hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 0;
    padding : 0px 0px 0px 0px;
    border-color :rgb(153, 213, 228);

}
.simple-style span {
    font-size : 14px;
    margin: 5px;
    color: rgb(31, 104, 122);
}

.simple-style span.menu {
    font-size : 12px;
    margin: 5px;
    color: rgb(162, 206, 214);
}

.simple-style h1 {
    margin : 0 0 3px 0;
    padding : 12px;
    display : block;
    font-weight : bold;
    color: rgb(197, 227, 228);
}

.simple-style h2 {
    margin : 0 0 3px 0;
    padding : 5px;
    display : block;
    font-weight : bold;
    color: rgb(197, 227, 228);
}

.simple-style h3 {
    margin : 0 0 3px 0;
    padding : 0;
    display : block;
    font-weight : bold;
}


.simple-style h4 {
    margin : 0 0 3px 0;
    padding : 15px 0px 0px 5px;
    display : block;
    font-weight : bold;
}

.simple-style li {
    padding : 0;
    display : block;
    list-style : none;
    margin : 10px 0 0 0;
}

.simple-style fieldset {
    padding : 10px;
    display : block;
    list-style : none;
    margin : 10px 10px 10px 10px;
    width : 600px;
    background-color : rgb(228, 230, 252);
}

.simple-style legend {
    margin : 30px 0 3px 0;
    padding : 0;
    display : block;
    font-weight : bold;
    font : 19px;
    color : rgb(1, 12, 12);
}

.simple-style label {
    margin : 5px; 
    padding : 0;
    display : block;
    font-size : 14px;
}

.simple-style textarea {
    font-family: "Lucida Console", Monaco, monospace;
    padding : 7px;
    display : block;
    margin: 5px;
    font : 14px;
    width: 80%;
    height: 25em;
}

.simple-style textarea[readonly] {
    font-family: "Lucida Console", Monaco, monospace;
    padding : 7px;
    display : block;
    font : 14px;
    margin: 5px;
    background-color :rgb(235, 235, 235);
    width: 80%;
    height: 60em;
}

.simple-style textarea[readonly].status {
    font-family: "Lucida Console", Monaco, monospace;
    padding : 7px;
    display : block;
    font : 14px;
    margin: 5px;
    background-color :rgb(235, 235, 235);
    width: 80%;
    height: 2em;
}

.simple-style form {
    margin : 0px 0px 0px 0px;
    padding : 25px;
    display : block;
    font-weight : bold;
    font-size : 14px;
}

/* input */
.simple-style input[type=text], 
.simple-style input[type=date],
.simple-style input[type=datetime],
.simple-style input[type=number],
.simple-style input[type=search],
.simple-style input[type=time],
.simple-style input[type=url],
.simple-style input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 8px;
    margin: 0px 5px 0px 5px;
    transition: all .30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
    font-size: 12px;
    width: 45%;
}

/* input focus */
.simple-style input[type=text]:focus, 
.simple-style input[type=date]:focus,
.simple-style input[type=datetime]:focus,
.simple-style input[type=number]:focus,
.simple-style input[type=search]:focus,
.simple-style input[type=time]:focus,
.simple-style input[type=url]:focus,
.simple-style input[type=email]:focus,
.simple-style textarea:focus, 
.simple-style select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
    font-size: 12px;
}

.simple-style input.field-long {
    width: 95% ;
}

.simple-style input.menu-button[type=submit] {
    margin: 5px 0px 5px 0px;
}

.simple-style input.submenu-button[type=submit] {
    margin: 5px 0px 5px 0px;
}


.simple-style field-textarea {
    height: 100px;
}

.simple-style input[type=submit], .simple-style input[type=button]{
    background: rgb(31, 104, 122);
    padding: 8px 12px 8px 12px;
    border: none;
    margin: 5px;
    font-size: 12px;
    color: #fff;
}

.simple-style input[type=submit]:hover, .simple-style input[type=button]:hover{
    background: rgb(0, 9, 12);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.simple-style .required{
    color:red;
}

input[readonly]
{
    background-color: rgb(235, 236, 243);
}

/* dropdown menu styles */
.simple-style .dropbtn {
    background-color: rgb(14, 72, 87);
    color: white;
    padding: 8px 12px 8px 12px;
    margin: 5px 0px 0px 0px;
    border: none;
    cursor: pointer;
}

.simple-style .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(4, 25, 36);
}

.simple-style .dropdown {
    position: relative;
    display: inline-block;
}

.simple-style .dropdown-content {
    background-color: rgb(201, 220, 231); 
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.simple-style .dropdown-content a {
    font-size: 12px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.simple-style .dropdown a:hover {
    background-color: rgb(4, 25, 36);
    color: rgb(255,255,255);
}

/* show menu contents */
.simple-style .show {
    display:block;
}

/* enabled menu button */
.simple-style .enabled {    
    background-color: rgb(4, 25, 36);
}