.simple-style {
    margin :10px;
    background-color: rgb(235, 246, 253); 
    font-family : Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.simple-style td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.simple-style .titlediv {
    padding : 8px 16px ;
    background-color: rgb(31, 104, 122);

}

.simple-style hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0; 
    padding : 2px 0px 0px 0px ;
    border-color :rgb(153, 213, 228);

}
.simple-style span {
    font-size : 12px;
    margin: 5px;
    color: rgb(99, 99, 104);
}

.simple-style h1 {
    margin : 0 0 3px 0;
    padding : 12px;
    display : block;
    font-weight : bold;
    color: rgb(197, 227, 228);
}

.simple-style h2 {
    margin : 0 0 3px 0;
    padding : 10px;
    display : block;
    font-weight : bold;
    color: rgb(197, 227, 228);
}

.simple-style h3 {
    margin : 0 0 3px 0;
    padding : 0;
    display : block;
    font-weight : bold;
}


.simple-style h4 {
    margin : 0 0 3px 0;
    padding : 15px 0px 0px 5px;
    display : block;
    font-weight : bold;
}



.simple-style li {
    padding : 0;
    display : block;
    list-style : none;
    margin : 10px 0 0 0;
}

.simple-style fieldset {
    padding : 10px;
    display : block;
    list-style : none;
    margin : 10px 10px 10px 10px;
    width : 600px;
    background-color : rgb(228, 230, 252);
}

.simple-style legend {
    margin : 30px 0 3px 0;
    padding : 0;
    display : block;
    font-weight : bold;
    font : 19px;
    color : rgb(1, 12, 12);
}

.simple-style label {
    margin : 12px 0 3px 0;
    padding : 0;
    display : block;
    font-size : 14px;
}

.simple-style textarea {
    padding : 7px;
    display : block;
    margin: 5px;
    font : 14px;
    
}

.simple-style textarea[readonly] {
    padding : 7px;
    display : block;
    font : 14px;
    margin: 5px;
    background-color :rgb(235, 235, 235);
}

.simple-style form {
    margin : 0 0 3px 0;
    padding : 0;
    display : block;
    font-weight : bold;
    font-size : 14px;
}


.simple-style input[type=text], 
.simple-style input[type=date],
.simple-style input[type=datetime],
.simple-style input[type=number],
.simple-style input[type=search],
.simple-style input[type=time],
.simple-style input[type=url],
.simple-style input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin: 5px;
    transition: all .30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}

.simple-style input[type=text]:focus, 
.simple-style input[type=date]:focus,
.simple-style input[type=datetime]:focus,
.simple-style input[type=number]:focus,
.simple-style input[type=search]:focus,
.simple-style input[type=time]:focus,
.simple-style input[type=url]:focus,
.simple-style input[type=email]:focus,
.simple-style textarea:focus, 
.simple-style select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.simple-style .field-divided{
    width: 49%;
}

.simple-style .field-small{
    width: 45%;
}

.simple-style .field-long{
    width: 100%;
}

.simple-style .field-select{
    width: 100%;
}

.simple-style .field-textarea{
    height: 100px;
}

.simple-style input[type=submit], .simple-style input[type=button]{
    background: rgb(31, 104, 122);
    padding: 8px 15px 8px 15px;
    border: none;
    margin: 5px;
    font-size: 14px;
    color: #fff;
}

.simple-style input[type=submit]:hover, .simple-style input[type=button]:hover{
    background: rgb(0, 9, 12);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.simple-style .required{
    color:red;
}

input[readonly]
{
    background-color: rgb(235, 236, 243);
}


